*, *::before, *::after {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.content-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}


.shops-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.shop-item {
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
  padding: 15px;
  background-color: white;
}

.shop-title {
  margin-top: 0;
  font-size: 24px;
  margin-bottom: 16px;
}

ul.shop-contacts-list {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.shop-contact-title {
  font-weight: 700;
}

.map-wrapper {
  display: flex;
}

.map-wrapper iframe {
  width: 100%;
}

@media (max-width: 999px) {
  .content-wrapper {
    grid-template-columns: 3fr 2fr;
  }
}

@media (max-width: 799px) {
  .content-wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .shops-list {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 599px) {
  .content-wrapper {
    grid-template-columns: 1fr;
  }

  .shops-list {
    grid-template-columns: 1fr 1fr;
  }

  .map-wrapper {
    order: -10;
  }
}

@media (max-width: 449px) {
  .shops-list {
    grid-template-columns: 1fr;
  }
}